table.slider-wrapper {
	border-collapse: collapse;

	a {
		text-decoration: none;
		cursor: pointer;
	}

	.fadeOut {
		-webkit-animation-name: fadeOut;
		animation-name: fadeOut;
	}

	.slider-item {
		position: relative;
		transition: 300ms;
		border-left: 4px solid #fff;
		-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(142, 141, 141, 0.1);
	}

	.delete-slider-item {
		visibility: hidden;
	}

	.slider-delete {
		vertical-align: top;
	}

	tr.slider-item {
		&:hover {
			background: #f7fcfe;
			transition: 150ms;
			border-left: 4px solid #00a0d2;

			.row-actions {
				visibility: visible;
			}

			.delete-slider-item {
				visibility: visible;
			}
		}

		td {
			padding: 13px;

			img {
				max-width: 100px;
			}

			&:nth-child(1) {
				width: 30%;
			}
		}
	}

	td.slider-text {
		width: 100%;
		vertical-align: top;

		input:not(:focus) {
			border: none;
			box-shadow: none;
			padding: 0;
			margin-top: 10px;
			background: transparent;
		}
	}

	td.slider-delete {
		span.media-modal-icon {
			background-image: none;
		}

		.media-modal-icon:before {
			content: '\f158';
			font: 400 20px/1 dashicons;
			speak: none;
			vertical-align: middle;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			color: #666;
		}

		&:hover span.media-modal-icon:before {
			color: #F44336;
		}
	}

	.delete-all-slides a {
		color: #a00;

		&:hover {
			color: red;
			cursor: pointer;
		}
	}

	@-webkit-keyframes fadeOut {
		from {
			background-color: rgba(201, 253, 140, 1);
		}

		to {
			background-color: rgba(201, 253, 140, 0);
		}
	}

	@keyframes fadeOut {
		from {
			background-color: rgba(201, 253, 140, 1);
		}

		to {
			background-color: rgba(201, 253, 140, 0);
		}
	}
}

#add-slide {
	background: #93D200;
	border-color: #46AA00;
	-webkit-box-shadow: inset 0 1px 0 rgba(150, 230, 120, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px 0 rgba(150, 230, 120, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
	color: #fff;

	&:focus {
		background: #54B101;
		border-color: #29500E;
		-webkit-box-shadow: inset 0 1px 0 rgba(171, 230, 120, 0.6), 0 0 0 1px #80D95B, 0 0 2px 1px rgba(128, 190, 30, 0.8);
		box-shadow: inset 0 1px 0 rgba(171, 230, 120, 0.6), 0 0 0 1px #80D95B, 0 0 2px 1px rgba(128, 190, 30, 0.8);
	}
}